<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DATOS DE LA ASIGNATURA</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>[[#{asignatura.formulario}]]</h1>
<a th:href="@{/asignaturas}">[[#{accion.regresar}]]</a>
<br/>
<form th:action="@{/asignaturas/guardar}" method="POST" th:object="${asignatura}">
    <input type="hidden" th:field="*{id}">

    <label for="nombre" th:text="#{asignatura.nombre}"></label>
    <input id="nombre" name="nombre" th:field="*{nombre}" required />
    <br/>

    <label for="nombreCompleto" th:text="#{asignatura.nombreCompleto}"></label>
    <input id="nombreCompleto" name="nombreCompleto" th:field="*{nombreCompleto}" required />
    <br/>

    <label for="descripcion" th:text="#{asignatura.descripcion}"></label>
    <textarea id="descripcion" name="descripcion" th:field="*{descripcion}"></textarea>
    <br/>

    <label for="areaConocimiento" th:text="#{asignatura.areaConocimiento}"></label>
    <input id="areaConocimiento" name="areaConocimiento" th:field="*{areaConocimiento}" />
    <br/>

    <label for="carrera" th:text="#{asignatura.carrera}"></label>
    <input id="carrera" name="carrera" th:field="*{carrera}" />
    <br/>

    <label for="numeroCreditos" th:text="#{asignatura.numeroCreditos}"></label>
    <input id="numeroCreditos" type="number" name="numeroCreditos" th:field="*{numeroCreditos}" required />
    <br/>

    <label for="contenidoTematico" th:text="#{asignatura.contenidoTematico}"></label>
    <textarea id="contenidoTematico" name="contenidoTematico" th:field="*{contenidoTematico}"></textarea>
    <br/>

    <label for="semestre" th:text="#{asignatura.semestre}"></label>
    <input id="semestre" type="number" name="semestre" th:field="*{semestre}" />
    <br/>

    <label for="profesor" th:text="#{asignatura.profesor}"></label>
    <input id="profesor" name="profesor" th:field="*{profesor}" />
    <br/>

    <input type="reset" th:value="#{accion.regresar}"/> &nbsp;&nbsp;&nbsp;
    <input type="submit" name="guardar" th:value="#{accion.guardar}">
</form>
</body>
</html>